.home_page {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

// GENERAL HEADER STYLE
.general_header_style {
  //   border: 2px solid red;
  display: flex;
  padding: 100px 70px 0px;  
  @media (max-width: 500px) {
    padding: 50px 30px 0px;
  }
  align-items: center;
  gap: 15px;
  span {
    border: 1px solid #e27020;
    height: 50px;
  }
  h3 {
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    @media (max-width: 500px) {
      font-size: 25px;
    }
  }
}

// SECTION 1 STYLES (BANNER STYLES)
.banner {
  position: relative;
  .banner_logo {
    .banner_image {
      height: 535px;
      object-fit: cover;
      object-position: 15% 110%;
      width: 100%;
      background-repeat: no-repeat;
      @media (max-width: 500px) {
        object-fit: -50% 110%;
        background-repeat: repeat-x;
      }
    }
  }
  .banner_text {
    position: absolute;
    // border: 2px solid purple;
    width: 50%;
    top: 10%;
    left: 5%;
    @media (max-width: 500px) {
      //   border: 2px solid purple;
      width: 95%;
      left: 0%;
      padding-left: 10px;
      top: 7%;
    }
    .banner_quote {
      rotate: 180deg;
      font-size: 2.5em;
      color: #e27020;
    }
    .text_button {
      // border: 2px solid orange;
      padding-left: 60px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      @media (max-width: 500px) {
        padding-left: 0px;
        // border: 2px solid green;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      p {
        font-size: 2.5em;
        color: #fff;
        font-weight: 600;
        padding-top: 0px;
        @media (max-width: 500px) {
          font-size: 2em;
          line-height: 50px;
        }
      }
    }
  }
  .banner_message {
    position: absolute;
    background: #f4b223;
    box-shadow: 0px 1px 3px 1px rgba(244, 178, 35, 0.5);
    border-radius: 5px;
    width: 90%;
    height: 300px;
    top: 90%;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    @media (max-width: 500px) {
      height: 750px;
    }
    .banner_message_text h3 {
      font-size: 24px;
      font-weight: 400;
    }
    .banner_message_logo {
      display: flex;
      @media (max-width: 500px) {
        flex-direction: column;
        gap: 25px;
      }
      div:last-child {
        border-right: 1px solid #fff;
      }
      .logo1,
      .logo2,
      .logo3,
      .logo3,
      .logo4 {
        border-left: 1px solid #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;
        gap: 10px;
        padding: 10px;
        @media (max-width: 500px) {
          border-left: 1px solid #fff;
          border-right: 1px solid #fff;
        }
        &:hover {
          box-shadow: 0px 1px 3px 1px #fff;
          // padding:0.1px;
          transition: all 0.5s ease-out;
        }
        h4 {
          font-weight: 600;
          text-transform: uppercase;
          &:hover {
            color: #e27020;
          }
        }
        p {
          color: #e27020;
          font-size: 18px;
          font-weight: 400;
        }
        img {
          //    border: 2px solid red;
          width: 60px;
        }
      }
    }
  }
}

.navbar_button {
  display: flex;
  align-items: center;
  gap: 10px;
  @media (max-width: 500px) {
    // border: 2px solid red;
    align-items: flex-start;
    width: 100%;
  }
  @media (max-width: 500px) {
  }
  .donation_btn {
    padding: 15px 20px;
    border: 2px solid var(--paletteColor1);
    color: var(--paletteColor1);
    border-radius: 3px;
    font-weight: 600;
    font-size: 15px;
  }
  .nav_shop_btn {
    padding: 17px 30px;
    // min-width: 500px;
    background: var(--paletteColor1);
    border: 2px solid var(--paletteColor1);
    font-weight: 600;
    color: var(--paletteColor8);
    font-size: 15px;
    border: none;
    border-radius: 3px;
    height: 100%;
    transition: all 0.5s ease-in;
    &:hover {
      transform: translateY(-5px);
      transition: all 0.5s ease-in;
      box-shadow: 10px 5px 5px var(--paletteHover);
      background-color: var(--paletteHover);
    }
  }
}

/* 
================
NEWS_API_SECTION
================
*/

.news_api_section {
  // border: 2px solid red;
  margin-top: 250px;
  @media (max-width: 500px) {
    margin-top: 700px;
  }
  .news_api {
    .news_api_img_txt {
      //   border: 2px solid green;
      margin: 60px 100px 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 40px;
      @media (max-width: 500px) {
        grid-template-columns: 1fr;
        margin: 20px 20px 0;
      }
      .news_inside_api {
        // border: 2px solid blue;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5);
        .news_inside_api_div {
          margin-bottom: 0px;
          .news_inside_img {
            height: 300px;
            object-fit: cover;
            object-position: 50% 110%;
            width: 100%;
            background-repeat: no-repeat;
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
            filter: brightness(70%);
            cursor: pointer;
            transition: all 0.5s, 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95),
              flex 0s, max-width 0s;
            // border: 2px solid violet;
            &:hover {
              transition: all 0.5s, 0.12s cubic-bezier(0.45, 0.05, 0.55, 0.95),
                flex 0s, max-width 0s;
              filter: brightness(100%);
            }
          }
        }
        .news_inside_api_header_txt {
          background: whitesmoke;
          //   border: 3px solid green;
          height: 100%;
          margin-top: -5px;
          display: flex;
          flex-direction: column;
          padding: 25px 0px 35px 30px;
          justify-content: space-between;
          gap: 15px;
          transition: all 0.5s, 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95),
            flex 0s, max-width 0s;
          &:hover {
            transition: all 0.5s, 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95),
              flex 0s, max-width 0s;
            background: lightgrey;
            cursor: pointer;
          }
          p {
            font-size: 15px;
            color: rgb(63, 62, 62);
          }
          h3 {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 600;
            color: #c24513;
          }
          .news_inside_api_txt {
            display: grid;
            gap: 10px;
            h2 {
              font-size: 18px;
              font-weight: 600;
            }
            h4 {
              font-weight: 400;
              font-size: 16px;
              width: 90%;
              line-height: 25px;
            }
          }
          h5 {
            font-size: 16px;
            color: #c24513;
            text-transform: capitalize;
            font-weight: 500;
          }
        }
      }
    }
  }
  .news_api_more_news {
    border: 1px solid #c24513;
    color: #c24513;
    display: flex;
    align-items: center;
    gap: 7px;
    width: 110px;
    margin: 60px auto;
    padding: 10px;
    border-radius: 5px;
    transition: all 1s ease-in;
    &:hover {
      background: rgb(235, 233, 233);
      transition: all 1s ease-out;
    }
    &:hover h4 {
      cursor: pointer;
      color: #f1390b;
      transition: all 1s ease-out;
    }
    &:hover span {
      cursor: pointer;
      color: #f1390b;
      transition: all 1s ease-out;
    }
    h4 {
      font-weight: 600;
      font-size: 15px;
      text-transform: capitalize;
      transition: all 1s ease-out;
    }
    span {
      padding: 0px;
      transition: all 1s ease-out;
    }
  }
}

/* 
================
FAMILY_SECTION
================
*/
.family_section {
//   border: 2px solid red;
  // width: 60%;
  padding: 0px 100px 0;
  @media(max-width:500px) {
    padding: 0px;
  }
  .family_img_txt {
    // border: 2px solid yellow;
    background: lightgray;
    display: flex;
    @media(max-width:500px) {
        flex-direction: column;
        width: 100%;
    }
    .family_img {
    //   border: 2px solid green;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      @media(max-width:500px) {
        width: 100%;
        padding: 30px 0 20px;
      }
      img {
        height: 80%;
        object-fit: cover;
        // object-position: 15% 110%;
        width: 90%;
        background-repeat: no-repeat;
        border-radius: 40% 30% 30% 50%;
        // border: 2px solid red;
        rotate: 7deg;
      }
    }
    .family_txt {
    //   border: 2px solid green;
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 30px 0 50px 20px;
      @media(max-width:500px) {
        width: 95%;
        padding: 20px 0 30px 20px;
        
      }
      h2 {
        color: #c24513;
        font-weight: 450;
        font-size: 28px;
        @media(max-width:500px) {
            font-size: 25px;
        }
      }
      p {
        color: rgb(65, 64, 64);
        width: 70%;
        line-height: 25px;
        @media(max-width:500px) {
            width: 80%;
        }
      }
      h4 {
        font-weight: 500;
        font-size: 15px;
        color: gray;
        line-height: 30px;
        width: 80%;
        @media(max-width:500px) {
            width: 90%;
        }
      }
      .family_logo_div {
        display: flex;
        border: 1px solid #c24513;
        width: 180px;
        gap: 7px;
        align-items: center;
        justify-content: center;
        color: #c24513;
        background: #fff;
        border-radius: 3px;
        padding: 13px 0;
        margin-left: 50px;
        margin-top: 20px;
        @media(max-width:500px) {
            margin-left: 0px;
        }
        cursor: pointer;
        transition: all 0.5s ease-in;
        &:hover {
          transform: translateY(-5px);
          transition: all 0.5s ease-out;
        }
        h3 {
          font-size: 15px;
          font-weight: 400px;
        }
        .family_icon {
          font-size: 20px;  
        }
      }
    }
  }
}

/* 
================
FAMILY_SECTION
================
*/


