// :root {
//     --fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
//       Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
//     --fontWeight: 400;
//     --textTransform: none;
//     --textDecoration: none;
//     --fontSize: 16px;
//     --lineHeight: 1.65;
//     --letterSpacing: 0em;
//     --buttonFontWeight: 600;
//     --buttonFontSize: 15px;
//     --has-classic-forms: var(--false);
//     --has-modern-forms: var(--true);
//     --form-field-border-initial-color: var(--border-color);
//     --form-field-border-focus-color: var(--paletteColor1);
//     --form-field-border-width: 0 0 1px 0;
//     --form-selection-control-border-width: 1px;
//     --form-selection-control-initial-color: var(--border-color);
//     --form-selection-control-accent-color: var(--paletteColor1);
//     --paletteColor1: #e27020;
//     --paletteColor2: #c24513;
//     --paletteColor3: #efb61a;
//     --paletteColor4: #000000;
//     --paletteColor5: #e0e0e0;
//     --paletteColor6: #f1f1f1;
//     --paletteColor7: #fafafa;
//     --paletteColor8: #ffffff;
//     --paletteColor9: #f4b223;
//     --paletteHover: #f36608;
//     --color: #707070;
//     --linkInitialColor: var(--paletteColor1);
//     --linkHoverColor: var(--paletteColor2);
//     --selectionTextColor: #ffffff;
//     --selectionBackgroundColor: var(--paletteColor1);
//     --border-color: var(--paletteColor5);
//     --headings-color: var(--paletteColor4);
//     --heading-1-color: var(--paletteColor4);
//     --content-spacing: 1.5em;
//     --buttonMinHeight: 40px;
//     --buttonTextInitialColor: #714508;
//     --buttonTextHoverColor: #482c04;
//     --buttonInitialColor: var(--paletteColor1);
//     --buttonHoverColor: var(--paletteColor2);
//     --button-border: none;
//     --buttonBorderRadius: 3px;
//     --button-padding: 5px 20px;
//     --normal-container-max-width: 1290px;
//     --content-vertical-spacing: 60px;
//     --narrow-container-max-width: 750px;
//     --wide-offset: 130px;
//   }

//   :root {
//     --global-palette1: #3182ce;
//     --global-palette2: #2b6cb0;
//     --global-palette3: #1a202c;
//     --global-palette4: #2d3748;
//     --global-palette5: #4a5568;
//     --global-palette6: #718096;
//     --global-palette7: #edf2f7;
//     --global-palette8: #f7fafc;
//     --global-palette9: #ffffff;
//   }

/* 
===============
CAMPAIGN STYLES
===============
*/

.Campaign_section {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

// CAMPAIGN BANNER SECTION
.campaign_background_banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/campaignBanner.jpg");
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  .campaign_bg_txt {
    display: flex;
    align-items: center;
    width: 20%;
    gap: 15px;
    color: #fff;
    font-family: var(--fontFamily);
    @media(max-width:500px) {
      width: 70%;
    }
    // border: 2px solid red;
    .campaign_welcome_txt {
      color: #c24513;
    }
    h3 {
      font-weight: 500;
    }
  }
}

// CAMPAIGN SLIDER SECTION
.ourcampaign_slider_section {
  .ourcampaign_txt {
    padding: 50px 100px 0px;
    @media(max-width:500px) {
      padding: 30px 20px 0;
    }
    // border: 2px solid red;
    h2 {
      color: #c24513;
      font-size: 35px;
      text-transform: uppercase;
      @media(max-width:500px) {
        font-size: 25px;
      }
    }
  }

  .ourcampaign_slider {
    .ourcampaign_slider_first {
      // border: 2px solid purple;
      display: flex;
      gap: 30px;
      margin-top: 30px;
      padding: 0px 100px 0px;
      @media(max-width:500px) {
        margin-top: 15px;
        flex-direction: column;
        align-items: center;
        gap: 15px;
      }
    }
    .ourcampaign_slider_third {
      // border: 2px solid yellow;
      padding: 0px 100px 0px;
      margin-top: 20px;
      @media(max-width:500px) {
        padding: 0 10px;
      }
    }
  }
}
